<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mail Template</title>
  </head>
  <body>
    <table id="m_1539638869808268003m_2538499534462903838m_4807627757768487401u_body" style="border-collapse:collapse;table-layout:fixed;border-spacing:0;vertical-align:top;min-width:320px;Margin:0 auto;background-color:#8abad3;width:100%" cellpadding="0" cellspacing="0">
      <tbody>
        <tr style="vertical-align:top">
          <td style="word-break:break-word;border-collapse:collapse!important;vertical-align:top">
            <div style="padding:0px;background-color:transparent">
              <div style="margin:0 auto;min-width:320px;max-width:600px;word-wrap:break-word;word-break:break-word;background-color:transparent">
                <div style="border-collapse:collapse;display:table;width:100%;height:100%;background-color:transparent">
                  <div style="max-width:320px;min-width:600px;display:table-cell;vertical-align:top">
                    <div style="background-color:#8abad3;height:100%;width:100%!important;border-radius:0px">
                      <div style="box-sizing:border-box;height:100%;padding:0px;border-top:0px solid transparent;border-left:0px solid transparent;border-right:0px solid transparent;border-bottom:0px solid transparent;border-radius:0px">
                        <table id="m_1539638869808268003m_2538499534462903838m_4807627757768487401u_content_image_3" style="font-family:'Montserrat',sans-serif" role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                          <tbody>
                            <tr>
                              <td style="word-break:break-word;padding:40px 10px;font-family:'Montserrat',sans-serif" align="left">
                                <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                  <tbody>
                                    <tr>
                                      <td style="padding-right:0px;padding-left:0px" align="center">
                                        <a href="https://www.creativefuel.io" rel="noreferrer" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.creativefuel.io&amp;source=gmail&amp;ust=1692860983308000&amp;usg=AOvVaw2RnNyXoWAO0dZWmpWFpHDH">
                                        <img align="center" border="0" src="https://ci3.googleusercontent.com/proxy/s7g_LKfeD0lVXXU1KsU55xojExaClJiWvUxZXagQOaYFcixgTWzMptPCR5sNmN17NIWS6PpR0F3sHb8V8xOItiEzOAk2=s0-d-e1-ft#https://share1.cloudhq-mkt3.net/985ca36b9e5593.png" alt="" title="" style="outline:none;text-decoration:none;clear:both;display:inline-block!important;border:none;height:auto;float:none;width:25%;max-width:145px" width="145" class="CToWUd" data-bit="iit">
                                        </a>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div style="padding:0px;background-color:transparent">
              <div style="margin:0 auto;min-width:320px;max-width:600px;word-wrap:break-word;word-break:break-word;background-color:transparent">
                <div style="border-collapse:collapse;display:table;width:100%;height:100%;background-color:transparent">
                  <div style="max-width:320px;min-width:600px;display:table-cell;vertical-align:top">
                    <div style="background-color:#8abad3;height:100%;width:100%!important;border-radius:0px">
                      <div style="box-sizing:border-box;height:100%;padding:0px;border-top:0px solid transparent;border-left:0px solid transparent;border-right:0px solid transparent;border-bottom:0px solid transparent;border-radius:0px">
                        <table id="m_1539638869808268003m_2538499534462903838m_4807627757768487401u_content_image_4" style="font-family:'Montserrat',sans-serif" role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                          <tbody>
                            <tr>
                              <td style="word-break:break-word;padding:10px;font-family:'Montserrat',sans-serif" align="left">
                                <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                  <tbody>
                                    <tr>
                                      <td style="padding-right:0px;padding-left:0px" align="center">
                                        <img align="center" border="0" src="https://ci5.googleusercontent.com/proxy/6PbZpZ1RoE78Q0wot0sF2EddASR9CULM3aiyNLygnG9fSXaStrTJkTGa97xbCKllX4t8phYC5z2MXSiUHhMV5PNFXlHG=s0-d-e1-ft#https://share1.cloudhq-mkt3.net/9e45b06e5a5815.png" alt="" title="" style="outline:none;text-decoration:none;clear:both;display:inline-block!important;border:none;height:auto;float:none;width:75%;max-width:435px" width="435" class="CToWUd a6T" data-bit="iit" tabindex="0">
                                        <div class="a6S" dir="ltr" style="opacity: 0.01; left: 588.5px; top: 916.667px;">
                                          <div id=":aa" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" role="button" tabindex="0" aria-label="Download attachment " jslog="91252; u014N:cOuCgd,Kr2w4b,xr6bB; 4:WyIjbXNnLWY6MTc3NTAwMjc4MTA1OTA1OTE5NSIsbnVsbCxbXV0." data-tooltip-class="a1V" jsaction="JIbuQc:.CLIENT" data-tooltip="Download">
                                            <div class="akn">
                                              <div class="aSK J-J5-Ji aYr"></div>
                                            </div>
                                          </div>
                                        </div>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <table id="m_1539638869808268003m_2538499534462903838m_4807627757768487401u_content_heading_2" style="font-family:'Montserrat',sans-serif" role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                          <tbody>
                            <tr>
                              <td style="word-break:break-word;padding:30px 50px 10px;font-family:'Montserrat',sans-serif" align="left">
                                <h1 style="margin:0px;color:#272c2a;line-height:140%;text-align:center;word-wrap:break-word;font-family:'Montserrat',sans-serif;font-size:16px;font-weight:400">Hey there,  <b><%= name %>!</h1>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <table id="m_1539638869808268003m_2538499534462903838m_4807627757768487401u_content_heading_6" style="font-family:'Montserrat',sans-serif" role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                          <tbody>
                            <tr>
                              <td style="word-break:break-word;padding:30px 50px 10px;font-family:'Montserrat',sans-serif" align="left">
                                <h1 style="margin:0px;color:#272c2a;line-height:140%;text-align:center;word-wrap:break-word;font-family:'Montserrat',sans-serif;font-size:16px;font-weight:400">
                                  The day you've been eagerly awaiting has finally arrived! We hope this message finds you in good health and high spirits.
                                </h1>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <table id="m_1539638869808268003m_2538499534462903838m_4807627757768487401u_content_heading_3" style="font-family:'Montserrat',sans-serif" role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                          <tbody>
                            <tr>
                              <td style="word-break:break-word;padding:10px 50px;font-family:'Montserrat',sans-serif" align="left">
                                <h1 style="margin:0px;color:#272c2a;line-height:140%;text-align:center;word-wrap:break-word;font-family:'Montserrat',sans-serif;font-size:16px;font-weight:400">
                                  At Creativefuel, our excitement is off the charts as we prepare to welcome you on board! Tomorrow, on July 26,2023 marks the beginning of your journey with us. Our work hours are from 11:00 a.m. to 8:00 p.m., and we encourage you to dress comfortably for the occasion.
                                </h1>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <table id="m_1539638869808268003m_2538499534462903838m_4807627757768487401u_content_heading_4" style="font-family:'Montserrat',sans-serif" role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                          <tbody>
                            <tr>
                              <td style="word-break:break-word;padding:10px 50px;font-family:'Montserrat',sans-serif" align="left">
                                <h1 style="margin:0px;color:#272c2a;line-height:140%;text-align:center;word-wrap:break-word;font-family:'Montserrat',sans-serif;font-size:16px;font-weight:400">
                                  Upon your arrival, please check-in at our reception on the 1st floor. Look out for Aditi—she will be your friendly guide, introducing you to the team, showing you your new workstation, and treating you to a swift office tour!
                                </h1>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <table id="m_1539638869808268003m_2538499534462903838m_4807627757768487401u_content_heading_5" style="font-family:'Montserrat',sans-serif" role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                          <tbody>
                            <tr>
                              <td style="word-break:break-word;padding:30px 50px 10px;font-family:'Montserrat',sans-serif" align="left">
                                
                                <h1 style="margin:0px;color:#272c2a;line-height:140%;text-align:center;word-wrap:break-word;font-family:'Montserrat',sans-serif;font-size:16px;font-weight:400">
                                  Once again, our enthusiasm knows no bounds, and we hope you share in our excitement for your first day.
                                  <br>
                                  We truly can't wait to commence this journey of growth, creativity, and success with you.
                                </h1>
                                <p style="margin:0px;color:#272c2a;line-height:140%;text-align:center;word-wrap:break-word;font-family:'Montserrat',sans-serif;font-size:16px;font-weight:400">
                                  Best regards,
                                  <br>
                                  Human Resources
                                </p>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div style="padding:0px;background-color:transparent">
              <div style="margin:0 auto;min-width:320px;max-width:600px;word-wrap:break-word;word-break:break-word;background-color:transparent">
                <div style="border-collapse:collapse;display:table;width:100%;height:100%;background-color:transparent">
                  <div style="max-width:320px;min-width:600px;display:table-cell;vertical-align:top">
                    <div style="height:100%;width:100%!important;border-radius:0px">
                      <div style="box-sizing:border-box;height:100%;padding:0px;border-top:0px solid transparent;border-left:0px solid transparent;border-right:0px solid transparent;border-bottom:0px solid transparent;border-radius:0px">
                        <table id="m_1539638869808268003m_2538499534462903838m_4807627757768487401u_content_image_8" style="font-family:'Montserrat',sans-serif" role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                          <tbody>
                            <tr>
                              <td style="word-break:break-word;padding:25px 10px 10px;font-family:'Montserrat',sans-serif" align="left">
                                <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                  <tbody>
                                    <tr>
                                      <td style="padding-right:0px;padding-left:0px" align="center">
                                        <img align="center" border="0" src="https://ci3.googleusercontent.com/proxy/vg0ZBxSWotnapjmwWw83tddnW3hzIabOGrryB4ljZkQ6eStu5PquWJrvR8Ou0OSJ3hXjXk2uORo1eO_DPN1TbTn10CeP=s0-d-e1-ft#https://share1.cloudhq-mkt3.net/a1ae104e679745.png" alt="" title="" style="outline:none;text-decoration:none;clear:both;display:inline-block!important;border:none;height:auto;float:none;width:15%;max-width:87px" width="87" class="CToWUd" data-bit="iit">
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div style="padding:0px;background-color:transparent">
              <div style="margin:0 auto;min-width:320px;max-width:600px;word-wrap:break-word;word-break:break-word;background-color:transparent">
                <div style="border-collapse:collapse;display:table;width:100%;height:100%;background-color:transparent">
                  <div id="m_1539638869808268003m_2538499534462903838m_4807627757768487401u_column_13" style="max-width:320px;min-width:600px;display:table-cell;vertical-align:top">
                    <div style="height:100%;width:100%!important;border-radius:0px">
                      <div style="box-sizing:border-box;height:100%;padding:0px;border-top:0px solid transparent;border-left:0px solid transparent;border-right:0px solid transparent;border-bottom:0px solid transparent;border-radius:0px">
                        <table id="m_1539638869808268003m_2538499534462903838m_4807627757768487401u_content_divider_2" style="font-family:'Montserrat',sans-serif" role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                          <tbody>
                            <tr>
                              <td style="word-break:break-word;padding:35px 150px;font-family:'Montserrat',sans-serif" align="left">
                                <table height="0px" align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse;table-layout:fixed;border-spacing:0;vertical-align:top;border-top:1px solid #272c2a">
                                  <tbody>
                                    <tr style="vertical-align:top">
                                      <td style="word-break:break-word;border-collapse:collapse!important;vertical-align:top;font-size:0px;line-height:0px">
                                        <span>&nbsp;</span>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>